@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

/*General Styles*/
html {
    scroll-behavior: smooth;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main>div {
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
}

.dark-section {
    background-color: #1b1b32;
    color: white;
}

.clear-section {
    background-color: #f5f6f7;
    color: black;
}

.title-section {
    font-size: 2rem;
    padding: 1rem 0;
    font-family: 'Rubik Dirt', cursive;
}

.subtitle-section {
    font-size: 1.5rem;
    padding: 1rem 0;
    font-family: 'Rubik Dirt', cursive;

}

.more-projects-container {
    margin: 2rem;
}

.btn-light {
    font-size: 1.1rem;

}

.btn-light i {
    margin: 0.5rem;
}

.text-section {
    font-size: 1.2rem;
}

/* Navbar*/
.navbar {
    padding: 2rem;
    background-color: #d1d4d6;

    top: 0;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;

}

/*Hero Section*/


.perfil-photo-hero {
    width: 200px;
    height: 200px;
    margin: 1rem;
    object-fit: contain;
}

.main-hero {
    padding: 3rem;
}

.main-hero h2 {
    font-size: 1.5rem;
    color: #615151;
}

.hero {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

/*ABOUT ME section*/
.about-me {
    min-height: 500px;
    padding: 10px;
}

.about-me-container {
    max-width: 600px;
    text-align: center;
}

.text-section {
    padding: 1rem;
}

.img-container img {
    width: 200px;
    height: 200px;
    object-fit: fill;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
}

/*SKILLS SECTION*/
.skills-section {
    padding: 3rem;
}

.container-myskills {
    width: 80%;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#item6 {
    grid-area: 2/2/4/4;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.item img {
    width: 100%;
    object-fit: contain;

}

.logo img {
    width: 70%;
}

/*PROJECTS*/

.recently-projects {
    padding: 3rem;
}

.recently-projects img {
    height: 100%;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
    object-fit: contain;

}

.projects-container {
    padding-top: 60px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.project {
    position: relative;
    height: 250px;

}

.project:hover img {
    opacity: 0.2;
}

.project:hover .overlay {
    opacity: 1;
}

.overlay .icon-container {
    display: flex;
}

.overlay i {
    color: black;
    font-size: 60px;
    margin: 10px;
}

/*CONTACT*/
.contact .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}

.contact .rectangle {
    margin-top: -5rem;
    background-color: rgb(13, 110, 253);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px black;
}

.contact .row {
    width: 100%;
    display: flex;
    align-items: center;
}

.contact .description {
    color: white;
    font-size: 1.2rem;
}

.contact button {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.contact button:hover {
    background-color: white;
    color: black;
}

.contact button:hover i {
    color: black;
}

.contact button i {
    color: #f5f6f7;
    font-size: 1.3rem;
    transition: all 0.2rem ease-in-out;
}

/*FOOTER*/
footer {
    min-height: 500px;
}

.footer-logo {
    height: 80px;
    margin: 10px;
}

.footer-text {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
}

.social-networks-icons a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 2px;
    border: 2px solid #1b1b32;
    border-radius: 50%;
    transition: all 0.2s ease-in;

}

.social-networks-icons i {
    color: black;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.social-networks-icons a:hover {
    background-color: black;
}

.social-networks-icons a:hover i {
    color: #f5f6f7;
}

.copyright {
    font-size: 1rem;
    color: #aeaeae;
    padding: 20px;
}

.copyright a {
    text-decoration: none;
    color: #aeaeae;
}

/*BUTTON TO TOP*/
#myBtn {

    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    /* outline: none;  */
    color: black;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    border-radius: 50%;
    font-size: 2rem;
}

#myBtn:hover {
    color: #555;
    /* Add a dark-grey background on hover */
}


@media (min-width: 500px) {
    .content {
        width: 43%;
    }

    #button {
        margin: 30px;
    }
}

.content h1 {
    margin-bottom: -10px;
    color: #03a9f4;
    line-height: 1.5;
}

.content h3 {
    font-style: italic;
    color: #96a2a7;
}

/* Responsive*/
@media screen and (max-width:700px) {
    .navbar-brand {
        display: none;
    }

    .item {
        height: 5rem;
    }

    #myBtn {
        right: 0.3rem;
    }

}

@media screen and (max-width:400px) {
    .overlay p {
        font-size: 1rem;
    }

    .overlay i {
        font-size: 40px;
    }

    .btn-light {
        font-size: 0.5rem;
    }
}

@media screen and (min-width:1000px) {
    .container-myskills {
        width: 50%;
    }
}