@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

/*General Styles*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
}

.dark-section {
    background-color: #1b1b32;
    color: white;
}

.clear-section {
    background-color: #f5f6f7;
    color: black;
}

.title-section {
    font-size: 2rem;
    padding: 1rem 0;
    font-family: 'Rubik Dirt', cursive;
}

.subtitle-section {
    font-size: 1.5rem;
    padding: 1rem 0;
    font-family: 'Rubik Dirt', cursive;

}

.more-projects-container {
    margin: 2rem;
}

.btn-light {
    font-size: 1.1rem;

}

.btn-light i {
    margin: 0.5rem;
}

.text-section {
    font-size: 1.2rem;
}

/* Navbar*/
.navbar {
    padding: 2rem;
    background-color: #f5f6f7;

}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;

}

/*Hero Section*/


.perfil-photo-hero {
    width: 200px;
    height: 200px;
    margin: 1rem;
    object-fit: contain;
}

.main-hero {
    padding: 3rem;
}

.main-hero h2 {
    font-size: 1.5rem;
    color: #615151;
}

.hero {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

/*ABOUT ME section*/
.about-me {
    min-height: 500px;
    padding: 10px;
}

.about-me-container {
    max-width: 600px;
    text-align: center;
}

.text-section {
    padding: 1rem;
}

/*PROJECTS*/

.recently-projects {
    padding: 3rem;
}

.recently-projects img {
    height: 100%;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
    object-fit: contain;

}

.projects-container {
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.project {
    position: relative;
    height: 250px;

}

.project:hover img {
    opacity: 0.2;
}

.project:hover .overlay {
    opacity: 1;
}

.overlay .icon-container {
    display: flex;
}

.overlay i {
    color: black;
    font-size: 60px;
    margin: 10px;
}

/*CONTACT*/
.contact .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}

.contact .rectangle {
    margin-top: -5rem;
    background-color: rgb(13, 110, 253);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px black;
}

.contact .row {
    width: 100%;
    display: flex;
    align-items: center;
}

.contact .description {
    color: white;
    font-size: 1.2rem;
}

.contact button {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.contact button:hover {
    background-color: white;
    color: black;
}
.contact button:hover i{
    color: black;
}
.contact button i {
    color: #f5f6f7;
    font-size: 1.3rem;
    transition: all 0.2rem ease-in-out;
}

/*FOOTER*/
footer {
    min-height: 500px;
}

.footer-logo {
    height: 80px;
    margin: 10px;
}

.footer-text {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
}

.social-networks-icons a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 2px;
    border: 2px solid #1b1b32;
    border-radius: 50%;
    transition: all 0.2s ease-in;

}

.social-networks-icons i {
    color: black;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.social-networks-icons a:hover {
    background-color: black;
}
.social-networks-icons a:hover i{
    color: #f5f6f7;
}
.copyright{
    font-size: 1rem;
    color: #aeaeae;
    padding: 20px;
}
.copyright a{
    text-decoration: none;
    color:#aeaeae;
}
/* Responsive*/
@media screen and (max-width:700px) {
    .navbar-brand {
        display: none;
    }

}

@media screen and (max-width:400px) {
    .overlay p {
        font-size: 1rem;
    }

    .overlay i {
        font-size: 40px;
    }

    .btn-light {
        font-size: 0.5rem;
    }
}